<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is the decription" />
    <title>Maroon 5: Store</title>
    <script src="/public/store.js" async></script>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-nav nav">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="store.html">STORE</a></li>
          <li><a href="about.html">ABOUT</a></li>
        </ul>
      </nav>
      <h1 class="band-name band-name-large">Maroon 5</h1>
    </header>

    <section class="container content-section">
      <h2 class="section-header">MUSIC</h2>
      <div class="shop-items">
        <% items.music.forEach(function (item) {
          
        %> 
        <div class="shop-item" data-item-id="<%= item.id %>">
          <span class="shop-item-title"><%= item.name %></span>
          <img class="shop-item-image" src="Images/<%= item.imgName %>" />
          <div class="shop-item-details">
            <span class="shop-item-price">$ <%= item.price /60%></span>
            <button type="button" class="btn btn-primary shop-item-button">
              ADD TO CART
            </button>
          </div>
        </div>
        <% }) %>
        
      </div>
    </section>

    <section class="container content-section">
      <h2 class="section-header">MERCH</h2>
        <div class="shop-items">
                <% items.merch.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 60 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
    </section>

    <section class="container content-section">
      <h2 class="section-header">CART</h2>
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      </div>

      <div class="cart-items">
            
      </div>
  
      <div class="cart-total">
        <span class="cart-total-title">Total :</span>
        <span class="cart-total-price">$0</span>
      </div>

        <button class="btn btn-primary btn-purchase" type="button">Purchase</button>
    </section>
    <footer class="main-footer">
      <div class="container main-footer-container">

        <h3 class="band-name ">Maroon 5</h3>
        <ul class="nav footer-nav">
          <li>
            <a
              href="https://www.youtube.com/channel/UCBVjMGOIkavEAhyqpxJ73Dw"
              target="_blank"
              ><img src="Images/yt.png" width="50"
            /></a>
          </li>
  
          <li>
            <a
              href="https://open.spotify.com/artist/04gDigrS5kc9YWfZHwBETP"
              target="_blank"
              ><img src="Images/spotify.png" width="26"
            /></a>
          </li>
          <li>
            <a href="https://www.facebook.com/maroon5" target="_blank"
              ><img src="Images/Facebook.png" width="24"
            /></a>
          </li>
          
        </ul>
      </div>
    </footer>
  </body>
</html>
